<h1>Add New User</h1>
<form action="/new" method="POST">
    <div>
        <label for="firstname">Firstname</label>
        <input type="text" id="firstname" name="firstname" required>
    </div>
    <div>
        <label for="lastname">Lastname</label>
        <input type="text" id="lastname" name="lastname" required>
    </div>
    <div>
        <label for="address">Address</label>
        <input type="address" id="address" name="address" required>
    </div>
    <div>
        <label for="postcode">Postcode</label>
        <input type="postcode" id="postcode" name="postcode" required>
    </div>
    <div>
        <label for="phonenumber">Phone Number</label>
        <input type="phonenumber" id="phonenumber" name="phonenumber" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="username">Username</label>
        <input type="username" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Register User</button>
</form>
<a href="/">Cancel</a>