<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
    <div class="w-100 mx-auto ">
        <div class="text-center m-3">
            <h1>Hello <%= adminUser.name %>!</h1>
        </div>
        <input class="btn btn-success" type="button" onclick="location.href='./new';" value="Add New User" />
        <input class="btn btn-warning" type="button" onclick="getcheckedTo('edit')" value="Edit User" />
        <input class="btn btn-danger" type="button" onclick="getcheckedTo('delete')" value="Delete User/s"/>
        <div class="m-2 p-0 text-center">
            <table class="mx-center w-100 table table-hover " id="Table1">
                <%var once = false%>
                <%for(const obj of userData){ %>
                    <tr>
                        <% if(!once){ %>
                            <th>&nbsp;</th>
                            <% for(const key in obj) { %>
                                <th><%= key %></th>
                            <% } %>
                        <% } %>
                        <% once = true %>
                    </tr>
                    <tr>
                        <td><input type="checkbox"/>&nbsp;</td>
                        <% for(const key in obj) { %>
                            <% if(key === 'password'){ %>
                            <%      var password = obj[key]; var newPass = "";%>
                            <%      for(var i = 0; i < password.length; i++){newPass += '•'} %>
                                    <td><%= newPass %></td>
                            <%} else{%>
                            <td><%= obj[key] %></td>
                            <% } %>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </div>

        <div class="m-4 text-right">
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-secondary">Log out</button>
            </form>
        </div>
    </div>
</body>
    <script type="text/javascript">
        function getcheckedTo(mode) {
            //Reference the Table.
            var grid = document.getElementById("Table1");
        
            //Reference the CheckBoxes in Table.
            var checkBoxes = grid.getElementsByTagName("INPUT");
        
            var count = 0;
            for (var i = 0; i < checkBoxes.length; i++) {
                if (checkBoxes[i].checked) {
                    count++;
                }
            }
            if(count <= 1){
                var row = null;
                for(var i = 0; i <checkBoxes.length; i++){
                    if(checkBoxes[i].checked){
                        var row = checkBoxes[i].parentNode.parentNode;
                    }
                }
                if(mode === 'edit'){
                    window.location.replace("http://localhost:3000/user/" + row.cells[1].innerHTML)
                }
                else if(mode === 'delete'){
                    var xmlhttp = new XMLHttpRequest();
                    var url = "http://localhost:3000/delete/" + row.cells[1].innerHTML;
                    xmlhttp.onreadystatechange = function (res) {
                        if(this.readyState == 4 && this.status == 200){
                            document.write(this.responseText);
                        }
                    };
                    xmlhttp.open("GET", url, true);
                    xmlhttp.send();
                }
            }
            else if(count == 0){
                alert("No rows selected!")
            }
            else{
                if(mode === 'edit')alert("Select only one user to edit!");
                else if(mode === 'delete'){
        
                }
            }
        }
    </script>
</html>

