<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
    <div class="w-50 mx-auto ">
        <div class="text-center mb-5">
            <h1>Login</h1>
            <% if(messages.error) {%>
                <%= messages.error %>
            <% } %>
            
        </div>

        <form action="/login" method="POST">
            <div class="form-outline mb-4">
                <input class="form-control" type="text" id="email" name="email" required>
                <label class="form-label" for="email">Email</label>
            </div>
            <div class="form-outline mb-4">
                <input class="form-control" type="password" id="password" name="password" required>
                <label for="password">Password</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-4">Log in</button>
        </form>
        <div class="text-center">
          <p>Not an admin? <a href="/register">Register</a></p>
        </div>
    </div>

</body>
</html>
